* {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.login-form {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-form input {
  width: 200px;
  height: 30px;
}

.login-form label {
  margin-right: 5px;
}

fieldset {
  border: 0 none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

legend {
  margin-bottom: 30px;
  text-align: center;
}

.btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.btn {
  all: unset;
  border: 1px solid cadetblue;
  width: 120px;
  padding: 8px;
  border-radius: 50px;
  text-align: center;
  font-size: 10px;
  margin-bottom: 5px;
}
